<div class="container">
	<div class="row ">
		<div class="col-md-4 col-lg-4">Type</div>
		<div class="col-md-4 col-lg-4">
			<select ng-model="vm.productType.value" ng-change="getBrandNames()" ng-options="productType for productType in productTypes">
      		</select>
		</div>
		<div class="col-md-4 col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4">Brand</div>
		<div class="col-md-4 col-lg-4">
    		<input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
    	</div>
		<div class="col-md-4 col-lg-4"></div>
	</div>
</div>